body{background-color: black;}
*{
    box-sizing: border-box;
}

.Hello{color: green; text-align: center; font-size: 100px;}
p{color: red; text-align: center; font-size: x-large; margin-top: -50px; word-spacing: 5px;}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    color: red;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}