body{
    margin: 0;
}

header{
    width: 100vw;
}

.header_text{
    text-align: center;
    color: white;
    font-size: xx-large;
}

header{
    width: 70vw;
    height: 80vh;
    background-image: url("../images/PIkachu\ plush.webp");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
}
